@page
@model Front.Pages.UsuarioModel

@{
    ViewData["Title"] = "Crear Paciente";

    /*if (IsPost)
    {
        string TipoDocumento = Request.Form["TipoDocumento"];
        string Documento = Request.Form["Documento"];
        string Nombres = Request.Form["Nombres"];
        string Apellidos = Request.Form["Apellidos"];
        string Correo = Request.Form["Correo"];
        string Telefono = Request.Form["Telefono"];
        string FechaNacimiento = Request.Form["FechaNacimiento"];
        string EstadoActivacion = Request.Form["EstadoActivacion"];
        

        <text>
            Paciente Ingresado: <br />
            TipoDocumento: @TipoDocumento <br />
            Nombres: @Nombres <br />
            Apellidos: @Apellidos <br />
            Correo: @Correo <br />
            Telefono: @Telefono <br />
            FechaNacimiento: @FechaNacimiento <br />
            EstadoActivacion: @EstadoActivacion <br />
        </text>
    }*/
}


<!DOCTYPE html>
<html>
<head>
    <title>Crear paciente</title>
</head>
<body>
    <form method="Post">
        <fieldset>
            <legend>Añadir Paciente</legend>
            <div>
                <label for="TipoDocumento">Tipo Documento:</label>
                <select id="TipoDocumento" name="TipoDocumento">
                    <option value="1">CC</option>
                    <option value="2">TI</option>
                    <option value="3">RC</option>
                    <option value="4">PA</option>
                </select>
            </div>
            <div>
                <label for="Documento">Documento:</label>
                <input type="text" name="Documento" value="" />
            </div>
            <div>
                <label for="Nombres">Nombres:</label>
                <input type="text" name="Nombres" value="" />
            </div>
            <div>
                <label for="Apellidos">Apellidos:</label>
                <input type="text" name="Apellidos" value="" />
            </div>

            <div>
                <label for="Correo">Correo Electrónico:</label>
                <input type="email" name="Correo" value="" />
            </div>
            <div>
                <label for="Telefono">Número Teléfonico:</label>
                <input type="tel" name="Telefono" value="" />
            </div>
            <div>
                <label for="FechaNacimiento">Fecha de nacimiento:</label>
                <input type="date" name="FechaNacimiento" value="" />
            </div>
            <div>
                <label for="EstadoActivacion">Estado de activación:</label>
                <input type="checkbox" name="EstadoActivacion" value="" />
            </div>

            <div>
                <label>&nbsp;</label>
                <input type="submit" value="Crear" class="submit" />
            </div>
        </fieldset>
    </form>
</body>
</html>